@import url("./Main.css");

    .homepage__cont{
        display: grid;
        grid-gap: 1rem;
    }
    
    .home__first__cont{
        width: 100%;
        /* background-color: red; */
    }
    
    .dummy_box{
        width: 90%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 2rem;
        /* background-color: blue; */
        margin: 0 auto;
        /* margin-block-end: 2rem; */
    }
    
    .social__box{
        display: grid;
        grid-template-columns: max-content;
        row-gap: 2rem;
        /* margin-inline-end: 10rem; */
    }
    
    .home__social__logo{
        color: var(--first-color);
    }
    
    .profile__pic{
        width: 50%;
    }
    
    .profile__pic img{
        width: 100%;
    }
    
    .home__data{
        height: 8rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        text-align: left;
        padding-left: 5rem;
    }
    
    .title{
        font-size: 1.5rem;
        color: var(--title-color);
    }
    
    .home__subtitle{
        color: var(--text-color);
    }
    
    .home__disc{
        width: 80%;
        color: var(--text-color-light);
        font-size: 15px;
        margin-top: 0.5rem;
    }
    
    .contact__btn{
        width: 10rem;
        height: 4rem;
        background-color: var(--first-color);
        border-radius: 10px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-left: 10rem;
        margin-top: 0.8rem;
        cursor: pointer;
        margin-bottom: 1rem;
    }
    
    a{
        text-decoration: none;
    }
    
    .contact__btn:hover{
        background-color: var(--first-color-alt);
    }
    
    .text{
        font-size: 13px;
        font-weight: 600;
        color: #fff;
        margin-right: -20px;
    }
    
    .message__arrow{
        color: var(--body-color);
    }
    
    .scroll__down{
        width: 10rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        transition: 0.5s;
        margin-left: 10rem;
    }
    
    .scroll__down__btn{
        color: var(--title-color);
    }
    
    .scroll__down:active{
        margin-top: 15px;
        transition: 0.5s;
    }

    @media screen and (max-width: 820px) {
       .dummy_box{
           width: 100vw;
           display: grid;
           grid-template-columns: 1fr 1fr;
           grid-template-rows: 2fr;
           text-align: center;
           /* background-color: red; */
       }

       .home__data{
           /* width: 50vw; */
           grid-row-start: 2;
       }
       
       .social__box{
           grid-column: 1;
       }

       .profile__pic{
           width: 75%;
           grid-column: 3;
           margin-inline-start: 4rem;
       }
    }