.service__page{
    width: 100%;
    margin-top: 9rem;
    display: grid;
    row-gap: 0rem;
    text-align: center;
}

.service__sub__heading{
    margin-top: -5px;
    font-size: 12px;
    font-weight: 600;
    color: var(--text-color-light);
}

.service__main__heading{
    font-size: 25px;
    font-weight: 600;
}

.service__list__box__container{
    width: 92.5%;
    margin-top: 5rem;
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 1rem;
    margin-left: 0.85rem;
}
@media screen and (min-width: 550px){
    .service__list__box__container{
        width: 75%;
        margin: 0 auto;
        margin-top: 5rem;
    }
}

.project{
    width: 100%;
    height: auto;
}